@charset "UTF-8";


/* 로딩화면 */

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

#logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  opacity: 0;
  z-index: 1001;
}

.curtain {
  background: #000;
  width: 50%;
  height: 100%;
  position: absolute;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/* 헤더 */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #222222cc;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}
.logo img{
  max-width: 173px;
}

.header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenubox {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.menu ul li {
  transition: 0.5s;
  position: relative;
}

.shop {
  display: flex;
  width: 10.5%;
  justify-content: flex-end;
}

.shop span {
  border: white solid 1px;
  padding: 10px;
  transition: 0.5s;
}

.menu ul li:hover,
.shop span:hover {
  color: var(--color-Main);
}

.shop span:hover {
  border: var(--color-Main) solid 1px;
}

.menu ul li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-Main);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.menu ul li:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  background: #ffffff;
  transition: all 0.3s ease;
}

.hamburger.menu_active span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: left;
}

.hamburger.menu_active span:nth-child(2) {
  opacity: 0;
}

.hamburger.menu_active span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: left;
}


@media screen and (max-width:987px) {
  .menu a {
    font-size: 13px;
  }
}

@media screen and (max-width:965px) {
  .submenubox {
    position: absolute;
    right: 0;
    top: 80px;
    height: calc(100vh - 80px);
    width: 350px;
    justify-content: center;
    background: #222222cc;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .hamburger {
    display: flex;
    width: 30px;
    height: 25px;
    justify-content: space-between;
  }

  .submenubox.menu_active {
    display: flex;
    transform: translateX(0);
  }

  .menu {
    width: auto;
    height: 75%;
  }

  .menu a {
    font-size: 20px;
  }

  .menu ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .shop {
    position: absolute;
    bottom: 10%;
    width: auto;
  }
}
@media screen and (max-width:500px){
  .logo img{
    max-width: 145px;
  }
}
/* 메인페이지 */
#main-page {
  background: url('../img/main/main_back.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  color: #fff;
}

.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  width: 100%;
}

.textbox h2 {
  font-size: 90px;
  line-height: 1.1;
}

.textbox span {
  display: inline-block;
}

.main-button button {
  background-color: #ffffff;
  color: #222222;
  font-size: 16px;
  font-family: var(--font1);
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.main-button button:hover {
  background-color: #cc0000 !important;
  transition: 0.5s;
}

.text-right,
.text-left {
  opacity: 0;
  transform: translateX(0);
}

.text-right {
  transform: translateX(-100px);
}

.text-left {
  transform: translateX(100px);
}

.main-title p,
.main-button button {
  opacity: 0;
}

@media screen and (max-width:1447px) {
  .textbox h2 {
    font-size: 75px;
  }
}

@media screen and (max-width:1210px) {
  .textbox h2 {
    font-size: 60px;
  }

  .main-button button {
    font-size: 14px;
  }
}

@media screen and (max-width:817px) {
  .textbox h2 {
    font-size: 51px;
    letter-spacing: 1px;
  }

  .main-button button {
    padding: 12px 20px;
  }
}

@media screen and (max-width:400px) {
  .textbox h2 {
    font-size: 41px;
  }

  .main-title p {
    font-size: 14px;
  }
}

/* se1 */
.section1 {
  margin: 150px 0;
}

.swiper-container {
  overflow: hidden;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.swiper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-top h2 {
  font-size: 50px;
}

.swiper-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#news .swiper-container .swiper-button-next,
#news .swiper-container .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: var(--color-Main);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-top: 0;
  right: 0;
  left: 0;
}

#news .swiper-container .swiper-button-next::after,
#news .swiper-container .swiper-button-prev::after {
  color: #fff;
  font-size: 16px;
}

.swiper-container .swiper-slide {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.swiper-container .imgbox,
.imgbox img {
  width: 100%;
}

.swiper-textbox {
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 25px;
  justify-content: space-between;
}

.swiper-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.swiper-slide h3 {
  font-size: 24px;
  letter-spacing: 2px;
}

.swiper-slide p {
  font-family: var(--font2);
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff9c;
}

.swiper-slide button {
  background-color: var(--color-Main);
  color: #fff;
  font-family: var(--font1);
  font-size: 15px;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-slide button::after {
  content: "";
  background-image: url(../img/icon/right\ arrow.svg);
  width: 9px;
  height: 11px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.swiper-slide .button100 {
  width: 100%;
}

.swiper-button button:hover {
  background-color: #cc0000 !important;
  transition: 0.5s;
}

@media screen and (max-width:500px) {

  #news .swiper-container .swiper-button-next,
  #news .swiper-container .swiper-button-prev {
    width: 35px;
    height: 35px;
  }

  .swiper-top h2 {
    font-size: 40px;
  }
}

/* se2 */

.se2-content {
  display: flex;
  justify-content: center;
}

.se2-con1 {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.se2-con1-textbox {
  height: 50%;
}

.se2-con1-text {
  background-color: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.se2-con1-text p {
  max-width: 270px;
  color: #fff;
  font-size: 24px;
  line-height: 1.4;
}

.se2-con1-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50%;
  background-color: var(--color-Main);
}

.se2-con1-img-text {
  text-align: center;
  color: #fff;
  font-size: 35px;
}


.se2-con3 {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.se2-con3-textbox {
  height: 35%;
}

.se2-con3-text {
  background-color: var(--color-Main);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.se2-con3-text h2 {
  position: relative;
  font-size: 220px;
  line-height: 0.8;
}

.se2-con3-text .plus {
  position: absolute;
  font-size: 60px;
  transform: translate(20px, 60px);
}

.se2-con3-text p {
  font-size: 35px;
}

.se2-con3-textbox2 {
  height: 65%;
}

.se2-con3-text2 {
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.se2-con3-text2 p {
  color: #fff;
  font-size: 55px;
  max-width: 389px;
}

@media screen and (max-width:1450px) {
  .se2-con1-img-text {
    font-size: 30px;
  }

  .se2-con3-text h2 {
    font-size: 170px;
  }

  .se2-con3-text .plus {
    font-size: 50px;
    transform: translate(10px, 45px);
  }

  .se2-con3-text p {
    font-size: 30px;
  }

  .se2-con3-text2 p {
    font-size: 45px;
  }
}

@media screen and (max-width:1200px) {
  .se2-con1-text p {
    font-size: 20px;
    max-width: 75%;
  }

  .se2-con1-img-text {
    font-size: 25px;
  }

  .se2-con3-text h2 {
    font-size: 135px;
  }

  .se2-con3-text .plus {
    font-size: 45px;
    transform: translate(10px, 37px);
  }

  .se2-con3-text p {
    font-size: 25px;
  }

  .se2-con3-text2 p {
    font-size: 40px;
    max-width: 75%;
  }
}

@media screen and (max-width:1024px) {
  .se2-content {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .se2-con1 {
    flex: none;
    width: 70%;
    height: 75vh;
  }

  .se2-con2 {
    height: 75vh;
    width: 30%;
  }

  .se2-con2-img img {
    width: 100%;
    height: 75vh;
  }

  .se2-con3 {
    flex: 1;
    flex-direction: unset;
  }

  .se2-con3-textbox {
    width: 65%;
  }

  .se2-con3-textbox2 {
    width: 100%;
  }

  .se2-con3-textbox,
  .se2-con3-textbox2 {
    height: 200%;
  }

  .se2-con3-text2 p {
    max-width: 90%;
  }

  .se2-con1-imgbox {
    display: flex;
    justify-content: center;
  }

  .se2-con1-imgbox {
    width: 80%;
  }

  .se2-con3-text {
    gap: 10px;
  }

  .se2-con1-text p {
    max-width: 270px;
    font-size: 24px;
  }
}

@media screen and (max-width:920px) {
  .se2-con3-text h2 {
    font-size: 110px;
  }

  .se2-con3-text .plus {
    font-size: 30px;
    transform: translate(10px, 33px);
  }

  .se2-con3-text p {
    font-size: 18px;
  }
}

@media screen and (max-width:850px) {
  .se2-con3-text2 p {
    font-size: 35px;
  }

  .se2-con1 {
    width: 60%;
  }

  .se2-con2 {
    width: 40%;
  }
}

@media screen and (max-width:700px) {
  .se2-con3-text2 p {
    font-size: 30px;
  }

  .se2-con3-text h2 {
    font-size: 90px;
  }

  .se2-con3-text .plus {
    font-size: 25px;
    transform: translate(10px, 25px);
  }

  .se2-con1-imgbox {
    width: 40%;
  }

  .se2-con1-img-text {
    font-size: 20px;
  }

  .se2-con1-text p {
    font-size: 18px;
    max-width: 75%;
  }

  .se2-con3-textbox {
    width: 75%;
  }

  .se2-con3-textbox,
  .se2-con3-textbox2 {
    height: 150%;
  }
}

@media screen and (max-width:591px) {

  .se2-con3-textbox,
  .se2-con3-textbox2 {
    height: 150%;
  }

  .se2-con3-textbox {
    width: 80%;
  }
}

@media screen and (max-width:510px) {
  .se2-con1 {
    width: 50%;
  }

  .se2-con2 {
    width: 50%;
  }

  .se2-con3-textbox {
    width: 100%;
  }

  .se2-con3 {
    flex-direction: row-reverse;
  }

  .se2-con3-text2 p {
    font-size: 25px;
    max-width: 75%;
  }

  .se2-con3-text h2 {
    font-size: 70px;
  }

  .se2-con3-text .plus {
    transform: translate(10px, 17px);
  }

  .se2-con3-text p {
    font-size: 16px;
  }

  .se2-con1-text p {
    font-size: 16px;
  }
}

@media screen and (max-width:410px) {
  .se2-con3-text2 p {
    font-size: 18px;
  }

  .se2-con3-text h2 {
    font-size: 55px;
  }

  .se2-con3-text .plus {
    font-size: 20px;
    transform: translate(10px, 14px);
  }

  .se2-con3-text p {
    font-size: 14px;
  }

  .se2-con1-img-text {
    font-size: 18px;
  }

  .se2-con1-text p {
    font-size: 14px;
  }

  .se2-content {
    justify-content: center;
  }
}

/* se3 */
.section3 {
  height: 150vh;
  background-color: #000;
  margin: 150px 0;
}

.se3-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 85px;
}

.se3-textbox {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.se3-main-text {
  display: flex;
  flex-direction: column;
}

.se3-textbox p {
  color: #fff;
  font-size: 18px;
  font-family: var(--font2);
}

.se3-textbox h2 {
  color: #fff;
  font-size: 70px;
  padding: 14px 0 8px 0;
}

.se3-textbox .se3-red {
  color: var(--color-Main);
}

.se3-imgbox {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.se3-main-img {
  width: 40%;
}

.se3-imgback {
  background-color: #fff;
  display: flex;
  max-width: 396px;
  max-height: 396px;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
}

.se3-imgtext {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.se3-main-img img {
  width: 36.3%;
}

.se3-imgtext {
  font-size: 50px;
  color: var(--color-Main);
}

.se3-sub {
  display: flex;
  flex-direction: column;
  margin: 75px 0;
  gap: 35px;
}

.se3-sub-maintext h2 {
  font-size: 26px;
  color: #ffffff;
}

.se3-sub-content {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin: 0 auto;
}

.se3-sub-content span {
  color: #ffffff;
  font-family: var(--font2);
  font-size: 16px;
}

.match {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  align-items: center;
  border-bottom: #2D2D2D solid 1px;
  padding-bottom: 12px;
}


.match:nth-child(3) {
  border-bottom: none;
  padding-bottom: 0;
}

.match-info {
  display: flex;
  gap: 20px;
  align-items: center;
  min-width: 250px
}

.se3-sub-content .result {
  font-size: 24px;
  font-family: var(--font1);
  min-width: 37px;
  display: flex;
  justify-content: center;
}

.tournament {
  display: flex;
  align-items: center;
}
.handicon{
  min-width: 115px;
}
.match-score {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
}

.score {
  display: flex;
  justify-content: center;
  min-width: 42px;
}

.fastericon,
.airplaneicon,
.handicon,
.cookieicon,
.fastericon2 {
  display: flex;
  gap: 20px;
  align-items: center;

}

.airplaneicon,
.cookieicon,
.fastericon2 {
  min-width: 155px;
  display: flex;
  justify-content: flex-end;
}

.fastericon::before,
.airplaneicon::after,
.handicon::before,
.cookieicon::after,
.fastericon2::after {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.fastericon::before {
  background-image: url('../img/icon/fasterui.svg');
}

.fastericon2::after {
  background-image: url('../img/icon/fasterui.svg');
}


.airplaneicon::after {
  background-image: url('../img/icon/airplane.svg');
}

.handicon::before {
  background-image: url('../img/icon/hand.svg');
}

.cookieicon::after {
  background-image: url('../img/icon/cookie.svg');
}





@media screen and (max-width:1200px) {
  .se3-textbox p{
    font-size: 15px;
  }
  .se3-textbox h2{
    font-size: 55px;
  }
  .se3-imgtext{
    font-size: 35px;
  }
  .se3-sub-maintext h2{
    font-size: 21px;
  }
  .se3-sub-content .result{
    font-size: 19px;
  }
  .se3-sub-content span{
    font-size: 14px;
  }
  .fastericon::before, .airplaneicon::after, .handicon::before, .cookieicon::after, .fastericon2::after{
    width: 25px;
    height: 25px;
  }
  .match-score{
    gap: 15px;
  }
}
@media screen and (max-width:1024px) {
  .section3 {
    margin: 400px 0 150px 0;
  }
  .se3-sub-content{
    margin: 0;
    width: 93%;
  }
}
@media screen and (max-width:900px) {
  .se3-main{
    gap: 40px;
    flex-direction: column;
  }
  .se3-textbox{
    width: 100%;
    align-items: center;
  }
  .se3-textbox h2{
    font-size: 85px;
  }
  .se3-textbox p{
    font-size: 18px;
  }
  .se3-imgtext{
    font-size: 40px;
  }
  .se3-imgbox{
    width: 100%;
    gap: 0;
  }
  .se3-sub-content{
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }
  .tournament{
    display: none;
  }
  .match{
    gap: 15px;
    flex-direction: column;
  }
  .match-score{
    gap: 0;
    width: 100%;
  }
  .fastericon, .airplaneicon, .handicon, .cookieicon, .fastericon2{
    min-width: 40%;
  }
  .match-info{
    gap: 0;
    justify-content: space-between;
  }
  .se3-sub-content span{
    font-size: 16px;
  }


}
/* se4 */
.section4 {
  height: 150vh;
}