@charset "UTF-8";


/* 로딩화면 */

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

#logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  opacity: 0;
  z-index: 1001;
}

.curtain {
  background: #000;
  width: 50%;
  height: 100%;
  position: absolute;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/* 헤더 */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #222222;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}
.logo img{
  height: 40px;
}
.header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.menu{
  margin-right: auto;
  margin-left: calc(50% - 500px);
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.menu ul li {
  position: relative;
}

.shop {
  border: white solid 1px;
  padding: 10px;
}

.menu ul li:hover,
.shop:hover {
  color: var(--color-Main);
  transition: 0.5s;
}

.menu ul li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-Main);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.menu ul li:hover::after {
  transform: scaleX(1);
}

/* 메인페이지 */
#main-page {
  background: url('../img/main/main_back.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.main-content{
  display: flex;
  justify-content: center;
  color: #fff;
}
.textbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  width: 100%;
}
.textbox h2{
  font-size: 90px;
  line-height: 1;
}
.textbox span{
  display: inline-block;
}
.main-button button{
  background-color: #ffffff; 
  color: #222222; 
  font-size: 16px; 
  font-family: var(--font1);
  padding: 15px 25px; 
  border: none; 
  cursor: pointer; 
  text-align: center; 
}
.main-button button:hover {
  background-color: #cc0000 !important; 
}
.main-button button:focus {
  outline: none; 
  box-shadow: 0 0 0 2px #FFFFFF; 
}
.text-right, .text-left {
  opacity: 0;
  transform: translateX(0);
}
.text-right {
  transform: translateX(-100px); 
}
.text-left {
  transform: translateX(100px); 
}
.main-title p, .main-button button {
  opacity: 0; 
}





.section1 {
  height: 150vh;
}